@import "tailwindcss";

@theme {
    --color-background: #faf9fa;
    --color-foreground: #1b1c1d;
    --color-primary: #2563EB;
    --color-secondary: #71717A;
    --color-muted: #a1a1aa;
    --color-border: #e2e8f0;
    --color-card: #ffffff;
    --color-success: #22c55e;
    --color-danger: #ef4444;
    --color-warning: #f59e0b;
}

body {
    @apply bg-background text-foreground;
    font-family: "Inter", sans-serif;
}
